<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>平和质</key>
	<dict>
		<key>饮食:</key>
		<string>平和体质日常养生应采取中庸之道，吃得不要过饱，也不能过饥，不吃冷，也不吃得过热。多吃五谷杂粮、蔬菜瓜果，少食过于油腻及辛辣之物。</string>
		<key>运动:</key>
		<string>一般选择温和的锻炼方式，运动强度不要太大就可以。老年人适当散步、打太极拳。</string>
		<key>其他:</key>
		<string>无</string>
		<key>药物:</key>
		<string>无</string>
		<key>方剂:</key>
		<string>无</string>
		<key>表现:</key>
		<string>饮食正常、睡眠好、二便通畅、性格开朗，社会和自然适应能力强，此为典型的平和体质。</string>
	</dict>
	<key>气虚质</key>
	<dict>
		<key>表现:</key>
		<string>说话没劲，经常出虚汗，容易呼吸短促，疲乏无力，这就是气虚体质。这种人从性格上来说，一般性格内向，情绪不够稳定，比较胆儿小，做事不爱冒险。值得注意的是，什么叫出虚汗呢?如果你要做一种运动或者干力气活的时候，只要运用量到了一定程度人都会出汗，这是很正常的反应。但是有些人在没有那么大的消耗量、没有那么大活动量的时候，就已经出很多汗了，这种现象就叫出虚汗。</string>
		<key>饮食:</key>
		<string>这类体质的人影多吃具有益气健脾作用的药物，实际上我们中医有一个概念就是药食同源，在中医看来有很多食物是有一定的药用功能的。可以吃一些如黄豆、白扁豆、鸡肉、泥鳅、香菇、大枣、桂圆、蜂蜜等。吃了这些食物有补气健脾的作用，平时吃东西的时候也一些耗气作用的食物尽量避免，如槟榔、空心菜、生萝卜等。</string>
		<key>运动:</key>
		<string>则以柔缓运动，散步、打太极拳等为主，不宜做大负荷消耗体力的运动和出大汗的运动。</string>
		<key>其他:</key>
		<string>无</string>
		<key>药物:</key>
		<string>人参、党参、黄芪、白术、山药、甘草等。</string>
		<key>方剂:</key>
		<string>四君子汤、补中益气汤、参灵白术散等。</string>
	</dict>
	<key>阳虚质</key>
	<dict>
		<key>表现:</key>
		<string>即使再热的暑天，也不能在空调房间里多待，因为这些人比较怕冷。总是手脚发凉，不敢吃凉的东西。性格多沉静、内向。这些人属阳虚体质。比如同样的温度下有些人穿的衣服很多，显得很怕冷，这种倾向一般就是阳虚的表现。</string>
		<key>饮食:</key>
		<string>可多吃容易有甘温益气的食物，比如牛羊狗肉、葱、姜、蒜、花椒、鳝鱼、韭菜、辣椒、胡椒等。少食生冷寒凉食物，比如黄瓜、藕、梨、西瓜等。</string>
		<key>运动:</key>
		<string>可做一些舒缓柔和的运动，如慢跑、散步、打太极拳、做广播操。</string>
		<key>其他:</key>
		<string>秋冬注意保暖，尤其是足下、背部及下腹部丹田部位的防寒保暖。夏季避免吹空调电扇。自行按摩气海、足三里、涌泉等穴位，或经常灸足三里、关元，可适当洗桑拿、温泉浴。多与别人交谈，平时多听一些激扬、高亢、豪迈的音乐，调节一下情绪，让他兴奋一下。</string>
		<key>药物:</key>
		<string>鹿茸、巴戟天、淫羊藿、杜仲、附子、狗脊、小茴香等。</string>
		<key>方剂:</key>
		<string>右归丸、还少丹、理中丸、黄芪建中汤等。</string>
	</dict>
	<key>阴虚质</key>
	<dict>
		<key>表现:</key>
		<string>如果一个人怕热，经常感到手脚心发热，面颊潮红或偏红，皮肤干燥，口干舌燥，容易失眠，经常大便干结，那就是阴虚。他们大部分都是性格比较外向好动的，性情是比较急躁的。</string>
		<key>饮食:</key>
		<string>多吃甘凉滋润的食物，比如瘦猪肉、鸭肉、龟、鳖、绿豆、冬瓜、芝麻、百合等。少食羊肉、狗肉、韭菜、辣椒、葱、蒜、葵花子等性温燥烈的食物。</string>
		<key>运动:</key>
		<string>只适合做中小强度、间断性的身体锻炼，可选择太极拳、太极剑等。锻炼时要控制出汗量，及时补充水分。不适合洗桑拿。</string>
		<key>其他:</key>
		<string>中午保持一定的午休时间。避免熬夜、剧烈运动和在高温酷暑下工作。宜节制房事，因为我们有些房事活动伤精耗液，对男女都一样。平时宜克制情绪，遇事要冷静，正确对待顺境和逆境。可以用练书法、下棋来怡情悦性，用旅游来寄情山水、陶冶情操。平时多听一些曲调舒缓、轻柔、抒情的音乐，防止恼怒。</string>
		<key>药物:</key>
		<string>沙参、麦冬、黄精、枸杞子、鳖甲、生地、知母、黄柏等。</string>
		<key>方剂:</key>
		<string>六味地黄丸、大补阴丸、一贯煎等。</string>
	</dict>
	<key>湿热质</key>
	<dict>
		<key>表现:</key>
		<string>如果你看到一个人，脸部和鼻尖总是油光锃亮，还容易生粉刺、疮疖，一开口就能闻到异味，那他就是湿热体质。这种人还容易大便黏滞不爽，小便发黄，比较浓，性格多急躁易怒。</string>
		<key>饮食:</key>
		<string>饮食清淡，多吃甘寒、甘平的食物，如绿豆、空心菜、苋菜、芹菜、黄瓜、冬瓜、藕、西瓜等。少食辛温助热的食物。应戒除烟酒，因为烟酒在中医看来属于具有温热作用的。</string>
		<key>运动:</key>
		<string>适合做大强度、大运动量的锻炼，如中长跑、游泳、爬山、各种球类、武术等。</string>
		<key>其他:</key>
		<string>不要熬夜、过于劳累。盛夏暑湿较重的季节，减少户外活动。</string>
		<key>药物:</key>
		<string>泽泻、车前子、茵陈蒿、黄芩、苦参、秦皮等。</string>
		<key>方剂:</key>
		<string>龙胆泻肝汤、黄芩化湿汤、易黄汤、茵陈蒿汤等。</string>
	</dict>
	<key>气郁质</key>
	<dict>
		<key>表现:</key>
		<string>《红楼梦》中的林妹妹是气郁体质的代表，性格忧郁脆弱。这种人一般比较削瘦，经常闷闷不乐，多愁善感，食欲不振，容易心慌，容易失眠。</string>
		<key>饮食:</key>
		<string>多吃小麦、蒿子杆、葱、蒜、海带、海藻、萝卜、金橘、山楂等，因为这些食物具有行气、解郁、消食、醒神的作用。睡前避免饮茶、咖啡等提神醒脑的饮料。</string>
		<key>运动:</key>
		<string>尽量增加户外活动，可坚持较大量的运动锻炼，如跑步、登山、游泳、武术等。</string>
		<key>其他:</key>
		<string>这类人因为性格上有一些自我封闭的表现，要经常有意识的参加集体性的运动，多跟其他人交往，多交交朋友，有了这些朋友才能够有一个比较好的对不良情绪的倾诉对象。</string>
		<key>药物:</key>
		<string>陈皮、木香、香附、乌药、九香虫等。</string>
		<key>方剂:</key>
		<string>半夏厚朴汤、木香顺汤、苏子降气汤、旋覆代赭汤等。</string>
	</dict>
	<key>痰湿质</key>
	<dict>
		<key>表现:</key>
		<string>心宽体胖是这类人最大特点，腹部松软肥胖，皮肤出油，汗多，眼睛浮肿，容易困倦。性格温和稳重，善于忍耐。</string>
		<key>饮食:</key>
		<string>饮食清淡为原则，少食肥肉及甜、黏、油腻的食物。可多食葱、蒜、海藻、海带、冬瓜、萝卜、金橘、芥末等食物。</string>
		<key>运动:</key>
		<string>平时多进行户外活动。</string>
		<key>其他:</key>
		<string>衣着应透气散湿，容易把一些湿气能够散掉，经常晒太阳或进行日光浴。</string>
		<key>药物:</key>
		<string>白术、苍术、防己、泽泻、荷叶、橘红、生蒲黄、生大黄、茯苓等。</string>
		<key>方剂:</key>
		<string>平胃散、六合汤、二陈汤、温胆汤、小陷胸汤、半夏白术天麻汤等。</string>
	</dict>
	<key>血瘀质</key>
	<dict>
		<key>表现:</key>
		<string>刷牙时牙龈容易出血，眼睛经常有红丝，皮肤常干燥、粗糙，一般肤色是发暗的，常常出现身体疼痛，容易烦躁，记忆力也不太好，容易健忘，性情急躁。</string>
		<key>饮食:</key>
		<string>可多食黑豆、海藻、海带、紫菜、萝卜、胡萝卜、金橘、橙、柚、桃、李子、山楂、醋、玫瑰花、绿茶，因此这些物质有活血、散结、行气、疏肝解郁的作用，少食肥猪肉等。</string>
		<key>运动:</key>
		<string>可进行一些有助于促进气血运行的运动项目，如太极拳、太极剑、舞蹈、步行等。保健按摩可使经络畅通，达到缓解疼痛、稳定情绪、增强人体功能的作用。血瘀体质的人在运动时如出现胸闷、呼吸困难、脉搏显著加快等不适症状，应去医院检查。</string>
		<key>其他:</key>
		<string>保持足够的睡眠，但不可过于安逸。</string>
		<key>药物:</key>
		<string>川芎、郁金、丹参、鸡血藤、桃仁、等。</string>
		<key>方剂:</key>
		<string>桃仁承气汤、血府逐瘀汤、补阳还五汤、膈下逐瘀汤等。</string>
	</dict>
	<key>特禀质</key>
	<dict>
		<key>表现:</key>
		<string>平常说过敏，也有好多人对不同的物质有过敏现象，比如花粉过敏或者某种食物过敏，这就是中医上这就被称为特禀体质。多是遗传所致。这类体质基本等同于过敏体质。</string>
		<key>饮食:</key>
		<string>饮食宜清淡、均衡，粗细搭配适当，荤素搭配合理。通常容易发生过敏反应的食物也要尽量避免，比如蚕豆、白扁豆、牛肉、鹅肉、鲤鱼、虾、蟹、茄子、酒、辣椒、浓茶、咖啡等辛辣之品、腥膻发物及含致敏物质的食物。</string>
		<key>运动:</key>
		<string>无</string>
		<key>其他:</key>
		<string>保持室内清洁，被褥、床单要经常洗晒，室内装修后不宜立即搬进居住，要放一段时间，里面一些容易引发过敏或者有害的物质要放一段以后、通风充分以后能够排掉。春季尽量减少室外活动时间，因为这个时候花粉比较多，容易引发过敏。</string>
		<key>药物:</key>
		<string>甘草、防风、黄芪、五味子等。</string>
		<key>方剂:</key>
		<string>过敏煎等</string>
	</dict>
</dict>
</plist>
