<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allQuestions</key>
	<array>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>是</string>
				<string>否</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>是否吸烟</string>
			<key>methodKey</key>
			<string>smoking</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>日吸烟量(支)</string>
			<key>methodKey</key>
			<string>smokingStatus</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>开始吸烟年龄(岁)</string>
			<key>methodKey</key>
			<string>smokingAge</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>戒烟年龄(岁)</string>
			<key>methodKey</key>
			<string>quitSmokingAge</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>高</string>
				<string>低</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>饮酒率</string>
			<key>methodKey</key>
			<string>drinkingFr</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>日饮酒量(两)</string>
			<key>methodKey</key>
			<string>dpac</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>是</string>
				<string>否</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>是否戒酒</string>
			<key>methodKey</key>
			<string>stopDrinkingFlag</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>戒酒年龄（岁）</string>
			<key>methodKey</key>
			<string>stopDrinkingAge</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>开始饮酒年龄</string>
			<key>methodKey</key>
			<string>startDrinkingAge</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>醉酒次数</string>
			<key>methodKey</key>
			<string>drunkenness</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>红酒</string>
				<string>白酒</string>
				<string>啤酒</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>饮酒种类</string>
			<key>methodKey</key>
			<string>drinkingType</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>是</string>
				<string>否</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>是否有药物过敏史</string>
			<key>methodKey</key>
			<string>drugAllergyFlag</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>药物过敏源</string>
			<key>methodKey</key>
			<string>drugAllergySource</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>既往患病种类</string>
			<key>methodKey</key>
			<string>diseaseTypeCode</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>是</string>
				<string>否</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>是否有手术史
是否有手术史
</string>
			<key>methodKey</key>
			<string>surgeryFlag</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>手术史</string>
			<key>methodKey</key>
			<string>surgery</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string>请选择</string>
			<key>nameString</key>
			<string>手术(操作)日期时间</string>
			<key>methodKey</key>
			<string>surgeryTime</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>外伤名称</string>
			<key>methodKey</key>
			<string>traumaName</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string>请选择</string>
			<key>nameString</key>
			<string>外伤发生日期时间</string>
			<key>methodKey</key>
			<string>traumaTime</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>是</string>
				<string>否</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>是否输血史</string>
			<key>methodKey</key>
			<string>transfusionFalg</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>输血原因</string>
			<key>methodKey</key>
			<string>transfusionReason</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string>请选择</string>
			<key>nameString</key>
			<string>输血日期时间</string>
			<key>methodKey</key>
			<string>transfusionTime</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>家族性疾病名称</string>
			<key>methodKey</key>
			<string>familialDiseaseCode</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>患者与本人关系</string>
			<key>methodKey</key>
			<string>relationship</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>遗传性疾病史</string>
			<key>methodKey</key>
			<string>geneticDiseases</string>
		</dict>
	</array>
</dict>
</plist>
