<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allQuestions</key>
	<array>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>男</string>
				<string>女</string>
			</array>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>昵  称:</string>
			<key>methodKey</key>
			<string>nickname</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>男</string>
				<string>女</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>性  别:</string>
			<key>methodKey</key>
			<string>sex</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>20~30</string>
				<string>30~40</string>
				<string>40~50</string>
				<string>50~60</string>
				<string>60以上</string>
				<string>20以下</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>年  龄:</string>
			<key>methodKey</key>
			<string>ageGroup</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>汉族</string>
				<string>蒙古族</string>
				<string>回族</string>
				<string>藏族</string>
				<string>维吾尔族</string>
				<string>苗族</string>
				<string>彝族</string>
				<string>壮族</string>
				<string>布依族</string>
				<string>朝鲜族</string>
				<string>满族</string>
				<string>侗族</string>
				<string>瑶族</string>
				<string>白族</string>
				<string>土家族</string>
				<string>哈尼族</string>
				<string>哈萨克族</string>
				<string>傣族</string>
				<string>黎族</string>
				<string>傈僳族</string>
				<string>佤族</string>
				<string>畲族</string>
				<string>高山族</string>
				<string>拉祜族</string>
				<string>水族</string>
				<string>东乡族</string>
				<string>纳西族</string>
				<string>景颇族</string>
				<string>基诺族</string>
				<string>柯尔克孜族</string>
				<string>达斡尔族</string>
				<string>土族</string>
				<string>仫佬族</string>
				<string>羌族</string>
				<string>布朗族</string>
				<string>撒拉族</string>
				<string>毛难族</string>
				<string>仡佬族</string>
				<string>锡伯族</string>
				<string>阿昌族</string>
				<string>普米族</string>
				<string>塔吉克族</string>
				<string>怒族</string>
				<string>乌孜别克族</string>
				<string>俄罗斯族</string>
				<string>鄂温克族</string>
				<string>德昂族</string>
				<string>保安族</string>
				<string>裕固族</string>
				<string>京族</string>
				<string>塔塔尔族</string>
				<string>独龙族</string>
				<string>鄂伦春族</string>
				<string>赫哲族</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>民  族:</string>
			<key>methodKey</key>
			<string>ethnicName</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>邮  箱:</string>
			<key>methodKey</key>
			<string>email</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>咸</string>
				<string>清淡</string>
				<string>酸</string>
				<string>苦</string>
				<string>辣</string>
				<string>甜</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>饮食爱好:</string>
			<key>methodKey</key>
			<string>dietHabit</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>谷类及其制品</string>
				<string>水产类</string>
				<string>禽畜类及其制品</string>
				<string>蛋类及其制品</string>
				<string>乳类及其制品</string>
				<string>水果及蔬菜类</string>
				<string>坚果及其制品类</string>
				<string>豆类及其制品</string>
				<string>花生及其制品</string>
				<string>芝麻及其制品</string>
				<string>刺激性食物或调味</string>
				<string>食品添加剂</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>食物过敏:</string>
			<key>methodKey</key>
			<string>allergen</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>中医体质:</string>
			<key>methodKey</key>
			<string>constitutionName</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>测试日期:</string>
			<key>methodKey</key>
			<string>testDate</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>所在省份:</string>
			<key>methodKey</key>
			<string>province</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>所在市区:</string>
			<key>methodKey</key>
			<string>city</string>
		</dict>
	</array>
</dict>
</plist>
