<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allQuestions</key>
	<array>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>真实姓名</string>
			<key>methodKey</key>
			<string>customerName</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>身份证</string>
				<string>社保卡</string>
				<string>护照</string>
				<string>军官证</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>身份证类别</string>
			<key>methodKey</key>
			<string>idType</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>身份证号码</string>
			<key>methodKey</key>
			<string>idNumber</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>手机号码</string>
			<key>methodKey</key>
			<string>phoneNumber</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>IT</string>
				<string>建筑</string>
				<string>金融</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>职业类别</string>
			<key>methodKey</key>
			<string>profession</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>本科</string>
				<string>研究生</string>
				<string>博士</string>
				<string>专科</string>
				<string>高中</string>
				<string>初中</string>
				<string>小学</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>学历</string>
			<key>methodKey</key>
			<string>education</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>已婚</string>
				<string>未婚</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>婚姻状况</string>
			<key>methodKey</key>
			<string>maritalStatus</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>身高(cm)</string>
			<key>methodKey</key>
			<string>height</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>体重(kg)</string>
			<key>methodKey</key>
			<string>weight</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array/>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string>0.0</string>
			<key>nameString</key>
			<string>体重指数</string>
			<key>methodKey</key>
			<string>bodyMassIndex</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>AB</string>
				<string>O</string>
				<string>Rh</string>
			</array>
			<key>answerType</key>
			<integer>1</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>血型</string>
			<key>methodKey</key>
			<string>bloodType</string>
		</dict>
		<dict>
			<key>answerOptions</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>AB</string>
				<string>O</string>
				<string>Rh</string>
			</array>
			<key>answerType</key>
			<integer>0</integer>
			<key>answerString</key>
			<string></string>
			<key>nameString</key>
			<string>血压</string>
			<key>methodKey</key>
			<string>bloodPressure</string>
		</dict>
	</array>
</dict>
</plist>
