<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>阳虚质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您手脚发凉吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到怕冷、衣服比别人穿得多吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您胃脘部、背部或腰膝部怕冷吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您比一般人不了寒冷（冬天的寒冷，夏天的冷空调、电扇等。</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您比别人容易患感冒吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您吃（喝）凉的东西会感到不舒服或者怕吃（喝）凉东西吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>你受凉或吃（喝）凉的东西后，容易腹泻（拉肚子）吗？</string>
			</dict>
		</array>
	</dict>
	<key>阴虚质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到手脚心发热吗?</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感觉身体、脸上发热吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您皮肤或口唇干吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您口唇的颜色比一般人红吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您面部两潮红或偏红吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到眼睛干涩吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您活动量稍大就容易出虚汗吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易便秘或大便干燥吗？</string>
			</dict>
		</array>
	</dict>
	<key>气虚质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>你容易疲乏吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易气短（呼吸短促，接不上气吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易心慌吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易头晕或站起时晕眩吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您喜欢安静、懒得说话吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您说话声音无力吗？</string>
			</dict>
		</array>
	</dict>
	<key>痰湿质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到胸闷或腹部胀满吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到身体感到不轻松或不爽快吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您腹部肥满松软吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您有额部油脂分泌多的现象吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您上眼睑比别人肿（仍轻微隆起的现象）吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您嘴里有黏黏的感觉吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您平时痰多，特别是咽喉部总感到有痰堵着吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您舌苔厚腻或有舌苔厚厚的感觉吗？</string>
			</dict>
		</array>
	</dict>
	<key>湿热质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您面部或鼻部有油腻感或者油亮发光吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>你容易生痤疮或疮疖吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到口苦或嘴里有异味吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您大使黏滞不爽、有解不尽的感觉吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您小便时尿道有发热感、尿色浓（深）吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您带下色黄（白带颜色发黄）吗？（限女性回答）</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您的阴囊部位潮湿吗?（限男性回答）</string>
			</dict>
		</array>
	</dict>
	<key>血瘀质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您的皮肤在不知不觉中会出现青紫瘀斑（皮下出血）吗?</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您两颧部有细微红丝吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您身体上有哪里疼痛吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您面色晦黯或容易出现褐斑吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易有黑眼圈吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易忘事（健忘）吗?</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您口唇颜色偏黯吗？</string>
			</dict>
		</array>
	</dict>
	<key>特禀质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您没有感冒时也会打喷嚏吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您没有感冒时也会鼻塞、流鼻涕吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您有因季节变化、温度变化或异味等原因而咳喘的现象吗?</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易过敏（对药物、食物、气味、花粉或在季节交替、气候变化时）吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您的皮肤容易起荨麻疹（风团、风疹块、风疙瘩）吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您的因过敏出现过紫癜（紫红色瘀点、瘀斑）吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您的皮肤一抓就红，并出现抓痕吗？</string>
			</dict>
		</array>
	</dict>
	<key>气郁质</key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您感到闷闷不乐吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易精神紧张、焦虑不安吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您多愁善感、感情脆弱吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您容易感到害怕或受到惊吓吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您胁肋部或乳房腹痛吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您无缘无故叹气吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您咽喉部有异物感，且吐之不出、咽之不下吗？</string>
			</dict>
		</array>
	</dict>
	<key>平和质 </key>
	<dict>
		<key>transformScore</key>
		<integer>0</integer>
		<key>finalScore</key>
		<integer>0</integer>
		<key>questionsKey</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您精力充沛吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>根本不</string>
					<string>有一点</string>
					<string>有些</string>
					<string>相当</string>
					<string>非常</string>
				</array>
				<key>score</key>
				<integer>1</integer>
				<key>question</key>
				<string>您能适应外界自然和社会环境的变化吗？</string>
			</dict>
			<dict>
				<key>options</key>
				<array>
					<string>没有</string>
					<string>很少</string>
					<string>有时</string>
					<string>经常</string>
					<string>总是</string>
				</array>
				<key>score</key>
				<integer>5</integer>
				<key>question</key>
				<string>您容易失眠吗？*</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
